/* General Styles */
.contact-page {

  padding: 50px 20px;
  background-color: #f7f9fc;
  font-family: 'Arial', sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-heading {
  margin-top: 50px;
  text-align: center;
  font-size: 2.5rem;
  color: #0056b3;
  font-weight: 700;
  margin-bottom: 10px;
}

.contact-subheading {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 40px;
  max-width: 600px;
  line-height: 1.5;
}

/* Google Form Embed */
.google-form-iframe {
  width: 100%;
  max-width: 900px;
  height: 800px; /* Increased default height for desktop */
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-page {
   
    padding: 20px 10px;
  }

  .contact-heading {
    padding-top: 35px;
    font-size: 1.5rem;
  }

  .contact-subheading {
    font-size: 1rem;
    padding: 0 10px;
  }

  .google-form-iframe {
    height: 1000px; /* Increased height for mobile screens */
  }
}
